body {
    background-image: url('huy-peach-dLkyhhC-e6Y-unsplash.jpg'); /* Replace 'path/to/image.jpg' with the actual path to your image */
    background-repeat:no-repeat;
    background-size:cover ;
}